{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
<body class="prepare-order-select-order">
  <h1>Select an Order</h1>
  <p>Multiple orders found. Please select one:</p>
  <form method="POST">
    <input type="hidden" name="step" value="select_order" />
    <select name="chosen_order_id">
      {% for o in orders %}
      <option value="{{ o.orderID }}">
        Order ID: {{ o.orderID }} (Client: {{ o.client }}, Date: {{ o.orderDate
        }})
      </option>
      {% endfor %}</select
    ><br /><br />
    <button type="submit">Select Order</button>
  </form>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="flash-messages">
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% endwith %}
</body>

{% endblock %}
