{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
<h1 class="register-header">{% block title %}Register{% endblock %}</h1>

<body class="register-page">
  <form method="post" class="register-form">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />

    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" required />

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" required />

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required />

    <input type="submit" value="Register" />

    <div class="login-section">
      <p>
        Already a user? <a href="{{ url_for('auth.login') }}">Log In here</a>
      </p>
    </div>
  </form>
</body>
{% endblock %}
